@import 'variables';
.top{
    @include desktop{
         display: flex;
         margin: 0rem 0;
    }
}
.intro{
    background: url(../../../images/bg-pattern-top-mobile.svg)no-repeat ;
    @include desktop{
        background: none ;
        flex: 1;
        text-align: left;
        padding: 0;
        
    }
    text-align: center;
    padding: 4rem 0 2rem;
    &__title{
        font-size: 2.7rem;
        line-height: 2.8rem;
        padding: 1em 5rem;
        color: $primary1;
        @include desktop{
            padding: 0 25rem 0 2rem ;
            font-size: 4rem;
            line-height: 4rem;
       }
    }
    &__description{
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 2rem;
        padding: 0 4rem;
        color: $neutral1;
        @include desktop{
            padding: 1rem 16rem 0 2rem ;
       }
    }
}

.ratings{
    @include desktop{
        flex: 1;
   }
    &__card{
        @include desktop{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 6rem;
       }
        &:nth-of-type(1){
            @include desktop{
                margin-right: 14rem;
            }
        }
        &:nth-of-type(2){
            @include desktop{
                margin-right: 8rem;
            }
        }
        &:nth-of-type(3){
            @include desktop{
                margin-right: 2rem;
            }
        }
        
        text-align: center;
        background-color: $neutral2;
        border-radius: 1rem;
        height: 7rem;
        width: 80%;
        margin: 2rem auto;
        &__stars{
            padding: 1.3rem 0;
            img{
                margin: 0 0.3rem;
                width: 1.5rem;
            }
            @include desktop{
                margin: 0 3rem;
           }
        }
        &__text{
            
            font-weight: 700;
            font-size: 1.2rem;
            color: $primary1;
        }
    }
}